[DEFAULT]
read_only = False
auth_key = None
community = EasyDonate
elasticbeanstalk = False
api_key = None
steam_key = None

[app:main]
community = Community
dsn = mysql+pymysql://user:password@localhost:3306/easydonate
steam_key = XXXXXXXXXXXXXXXXXXXXXXX

[app:paypal]
mode = sandbox
client_id = XXXXXXXXXXXXXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXX
client_secret = XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-XXXXXXXXXXXXXXXX

